/* Your custom styles */

div#container_skipper{
	background-color: #f0ffff;
	border-radius: 10px;
}
div#container_timbox {
	background-color: #9ab8e8;
	border-radius: 10px;
}


initCharts('chart-high','#b71c1c');
initCharts('chart-medium','#ff6f00');
initCharts('chart-low','#ffc107');
initCharts('chart-informative','#4caf50');

/*Googel Now MDL loading */

#loader{
	
}
#loader-8 #loader:nth-of-type(1){
	position: relative;
    top: 30%;
    left: 39%;
    z-index: 2;
	
	height: 2vw;
	width: 2vw;
	/*border-radius: 100%;
	background: blue;*/
	margin: 0.8vw;
	background: url('images/a2.png') no-repeat;
	background-size: 80%;
	-webkit-animation: jump 1.8s infinite ease-in-out;
	-moz-animation: jump 1.8s infinite ease-in-out;
	-o-animation: jump 1.8s infinite ease-in-out;
		animation: jump 1.8s infinite ease-in-out;
}

#loader-8 #loader:nth-of-type(2){
	position: relative;

       top: 30%;
    left: 39%;
    z-index: 2;
	height: 2vw;
	width: 2vw;
	/*border-radius: 100%;
	background: blue;*/
	margin: 0.8vw;
	background: url('images/l.png') no-repeat;
	background-size: 66%;
	-webkit-animation: jump 1.8s 0.2s infinite ease-in-out;
	-moz-animation: jump 1.8s 0.2s infinite ease-in-out;
	-o-animation: jump 1.8s 0.2s infinite ease-in-out;
		animation: jump 1.8s 0.2s infinite ease-in-out;
}

#loader-8 #loader:nth-of-type(3){
	position: relative;

        top: 30%;
    left: 39%;
    z-index: 2;
	height: 2vw;
	width: 2vw;
	/*border-radius: 100%;
	background: blue;*/
	margin: 0.8vw;
	
	background: url('images/t.png') no-repeat;
	background-size: 80%;
	-webkit-animation: jump 1.8s 0.4s infinite ease-in-out;
	-moz-animation: jump 1.8s 0.4s infinite ease-in-out;
	-o-animation: jump 1.8s 0.4s infinite ease-in-out;
		animation: jump 1.8s 0.4s infinite ease-in-out;
}

#loader-8 #loader:nth-of-type(4){
	position: relative;

        top: 30%;
    left: 39%;
    z-index: 2;
	height: 2vw;
	width: 2vw;
	/*border-radius: 100%;
	background: blue;*/
	margin: 0.8vw;
	
	background: url('images/r.png') no-repeat;
	background-size: 80%;
	-webkit-animation: jump 1.8s 0.6s infinite ease-in-out;
	-moz-animation: jump 1.8s 0.6s infinite ease-in-out;
	-o-animation: jump 1.8s 0.6s infinite ease-in-out;
		animation: jump 1.8s 0.6s infinite ease-in-out;
}

#loader-8 #loader:nth-of-type(5){
	position: relative;

        top: 30%;
    left: 39%;
    z-index: 2;
	height: 2vw;
	width: 2vw;
	/*border-radius: 100%;
	background: blue;*/
	margin: 0.8vw;
	
	background: url('images/a2.png') no-repeat;
	background-size: 80%;
	-webkit-animation: jump 1.8s 0.8s infinite ease-in-out;
	-moz-animation: jump 1.8s 0.8s infinite ease-in-out;
	-o-animation: jump 1.8s 0.8s infinite ease-in-out;
		animation: jump 1.8s 0.8s infinite ease-in-out;
}

#loader-8 #loader:nth-of-type(6){
	position: relative;

       top: 30%;
    left: 39%;
    z-index: 2;
	height: 2vw;
	width: 2vw;
	/*border-radius: 100%;
	background: blue;*/
	margin: 0.8vw;
	
	background: url('images/n.png') no-repeat;
	background-size: 80%;
	-webkit-animation: jump 1.8s 1s infinite ease-in-out;
	-moz-animation: jump 1.8s 1s infinite ease-in-out;
	-o-animation: jump 1.8s 1s infinite ease-in-out;
		animation: jump 1.8s 1s infinite ease-in-out;
}

@-webkit-keyframes jump{
	0%{
		top: 30%;
	}
	50%{
		top: 28.5%;
	}
	100%{
		top: 30%;
	}
}

@-moz-keyframes jump{
	0%{
		top: 30%;
	}
	50%{
		top: 28.5%;
	}
	100%{
		top: 30%;
	}
}

@-o-keyframes jump{
	0%{
		top: 30%;
	}
	50%{
		top: 28.5%;
	}
	100%{
		top: 30%;
	}
}

@keyframes jump{
	0%{
		top: 30%;
	}
	50%{
		top: 41.5%;
	}
	100%{
		top: 30%;
	}
}

.load-wrapper{
	z-index:1;
	position:absolute;
	display: none;
		width: 100%;
		height: 100%;
        top     : 0;
        left    : 0;
}

#overlay_loading {
    width: 100%;
    height: 100%;
    background: #FFF;
    display: none;
    position: absolute;
    opacity: 0.4;
     top     : 0;
        left    : 0;
}


.btn-primary {
    background-color: #017eaf!important;
}


.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0rem;
}

.card {
    border: 0;
    border-radius: .25rem;
    margin-top: 9px;
}